<span id="alert-title">{{medTitle}} x {{quantity}}</span><br />
  <img id="alert-image" src= {{imageIcon}} />
<span id="alert-time">Time: {{timeTakeMeds}}</span><br />
  <img id="pills-image" src= {{medIcon}} />
<span id="alert-instructions">Instructions: Take <b>{{quantity}} {{medTitle}}</b> {{medInstructions}}</span>
