<span id="alert-title">{{name}} x {{quantity}}</span><br />
  <img id="alert-image" src= {{imageIcon}} />
<span id="alert-time">Time: {{time}}</span><br />
  <img id="pills-image" src= {{medIcon}} />
<span id="alert-instructions">Instructions: Take <b>{{quantity}} {{name}}</b> {{instructions}}</span>
