<div class="container-alert">

  <ul>
    <span id="alert-title">{{name}} x {{quantity}}</span><br />
      <img id="alert-image" src="../../images/clock.png" />
    <span id="alert-time">Time: {{formattedTime}}</span><br />
      <img id="pills-image" src="../../images/pills.png"/>
    <span id="alert-instructions">Instructions: Take <b>{{quantity}} {{name}}</b> {{instructions}}</span>
  </ul>
  <!-- <img id="alert-image" src="../../images/clock.png" /> -->

</div>
<audio id="timer-beep">
  <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41203/beep.mp3"/>
  <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41203/beep.ogg" />
</audio>
